diffusers
omegaconf
librosa
audio-separator
onnxruntime-gpu
opencv-python
onnx2torch
onnx
moviepy
accelerate
av
bitsandbytes
decord
einops
insightface
mediapipe[vision]==0.10.14
mlflow
tqdm
isort
pylint
pre-commit